* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
body{
  background-color: salmon;
}
img{
  width: 250px;
  height: 150px;
}
h1{
  text-align: center;
}
table, table * {
  border: 1px solid black;
}
/*#app{
  background: salmon;
    color: white;
    width: 60%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}*/
